@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
$defaultBlack : #0c0c0c;
$defaultDarkBlue : #19204E;
$defaultWhite : #f0f0f0;
$defaultRed : #DF1B3F;
$defaultGray : #D6D6D6;
$defaultYellowGold : #FCB300;
$fontFamily :'Gothic A1',
sans-serif;