@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
$defaultRichBlack : #001219;
$defaultBlueSapphire : #005F73;
$defaultViridianGreen : #0A9396;
$defaultMiddleBlueGreen : #94D2BD;
$defaultMediumChampagne : #E9D8A6;
$defaultGamboge : #EE9B00;
$defaultAlloyOrange : #CA6702;
$defaultRust : #BB3E03;
$defaultRufous : #AE2012;
$defaultRubyRed : #9B2226;
$fontFamily :'Gothic A1',
sans-serif;